.control-section {
  margin-top: 2rem;

  h3 {
    padding-left: 1.7rem;
    color: white;
    margin-bottom: .8rem;
  }

  a {
    color: white;
    font-weight: 700;
  }

  .terms-section {
    margin-bottom: 4rem;

    .ui.checkbox {
      font-size: .93rem;
    }

    @media (max-width: 500px) {

      margin-bottom: 2rem;
      
      h3 {
        font-size: 1rem;
      }
    }
  }

  .ui.checkbox label:hover {
    color: #eee;
    text-decoration: underline;
  }

  .control-buttons {
    margin-top: 2rem;

    button {
      text-transform: uppercase;

      @media (max-width: 500px) {

        margin-bottom: 1rem;
      }
    }

    .reset-button {
      margin-right: 1.5rem;
    }

    .share-container {
      margin: 1.5rem 0;
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
      }

      @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }

    .message-container {
      margin-top: 3rem;

      .main-button {
        font-size: .8rem;
      }
    }

    .share-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    svg {
      width: 14px;
      margin-bottom: -2px;
      margin-right: .6rem;
      fill: white;
    }

    .copy-container {
      text-align: center;
      max-width: 500px;
      margin: 1.5rem auto 0;

      .main-button {
        float: right;
        margin-top: 1rem;
      }

      @media (max-width: 768px) {

        text-align: left;
        margin: 1.5rem 0;

        .main-button {
          float: none;
          margin-top: 1rem;
        }
      }
    }

    .message-text {
      text-align: left;
      display: block;
      font-size: 14px;
      line-height: 26px;
      background: white;
      padding: 1rem;
      border-radius: 5px;

      span {
        font-size: 12px;
        opacity: .6;
      }
    }

    @media (min-width: 768px) {

      &.centered {
        text-align: center;
      }
    }
  }
}