.footer {
  padding: 1rem 0 3rem;
  
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    margin: 0;
    padding: 0 .5rem;
    margin-top: .8rem;
    color: ghostwhite;
    font-size: 1rem;
    opacity: .85;

    @media (max-width: 500px) {
      font-size: .8rem;
    }
  }

  img {
    width: 14vw;
    padding: 0 .5rem;

    @media (max-width: 768px) {
      width: 90px;
    }
  }
}