.preview-container {

  h4 {
    color: white;
    margin-top: 0;
  }

  .sample-list,
  .menu-list {
    display: flex;

    > div {
      flex-basis: 45%;
    }

    img {
      width: 100%;
    }

    @media (min-width: 768px) {

      > div + div {
        margin-left: 3rem;
      }
    }

    @media (min-width: 500.2px) and (max-width: 768px) {

      > div + div {
        margin-left: 1.5rem;
      }
    }

    @media (max-width: 500px) {

      justify-content: space-between;

      > div + div {
        margin-left: 0;
      }
    }
  }

  .sample-list {
    opacity: .5;
  }

  .image-preview,
  .color-preview {
    border: 3px solid #d7dfe5;
    position: relative;
    cursor: pointer;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 58, .5);

    &.active {
      border-color: yellow;
    }
  }

  .image-preview {
    background-size: contain;
    background-position: center;
  }

  .text-container {
    position: absolute;
    z-index: 2;
    padding: 0 20%;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;

    > div {
      border: 2px solid #d7dfe5;
      padding: 4%;
      background: rgba(255, 255, 255, .15);
    }

    img {
      width: 85%;
    }

    .bold-text {
      background: rgba(219, 22, 10, 0.2);
      font-size: 1.6vw;
      font-weight: 600;
      margin: 0 1.2vw;
      color: white;
      border: 1px solid white;
      border-radius: 0.4vw;
      line-height: 3.4vw;
    }

    .body-text {
      padding: .7vw 1vw;
      line-height: 2.1vw;
      font-size: 1.4vw;
      color: rgba(255, 255, 255, .95);
    }

    @media (min-width: 768px) {

      .bold-text {
        font-size: 1vw;
        margin: 0 1vw;
        line-height: 2vw;
        border-radius: 0.3vw;
      }

      .body-text {
        padding: .45vw .65vw;
        line-height: 1.4vw;
        font-size: .9vw;
      }
    }
  }

  .image-footer {
    position: absolute;
    bottom: 4px;
    padding: 0 .3rem;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    p {
      margin: 0;
      font-size: .7vw;
      text-align: center;
      line-height: 1.7vw;
      margin-bottom: 2px;
    }

    span {
      display: block;
      line-height: 2px;
    }

    img {
      width: 24px;
    }
  }

  &:not(.editing-preview) {

    .text-container {

      .bold-text {
        font-size: 2.3vw;
        margin: 0 1vw;
        border-radius: 0.6vw;
        padding: 1.2vw;
        line-height: 1.5vw;
      }

      .body-text {
        padding: 1.4vw;
        line-height: 2.3vw;
        font-size: 1.7vw;
      }

      @media (max-width: 768px) {
        
        .bold-text {
          font-size: 2.5vw;
          margin: 0 2vw;
          border-radius: 0.7vw;
          padding: 0 .4vw;
          line-height: 4.5vw;
        }

        .body-text {
          padding: 1.4vw;
          line-height: 2.9vw;
          font-size: 2vw;
        }
      }
    }

    .image-footer {
      position: absolute;
      bottom: 1.4%;
      padding: 0 1%;
      left: 0;
      width: 100%;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      p {
        margin: 0;
        font-size: 2.3vw;
        text-align: center;
        line-height: 200%;
        margin-bottom: 1%;
      }

      img {
        width: 8%;
      }

      @media (min-width: 768px) {

        padding: 0 1.3%;

        p {
          font-size: 1.7vw
        }

        img {
          width: 10%;
        }
      }
    }

    .image-preview.final,
    .color-preview.final {

      .text-container {
        padding: 0 22%;
        
        img {
          width: auto;
        }

        .bold-text {
          font-size: 28px;
          margin: 0 44px;
          padding: 20px;
          line-height: 15px;
          border-radius: 6px;
        }

        .body-text {
          font-size: 25px;
          line-height: 33px;
          padding: 24px 24px 20px 24px;
        }
      }

      .image-footer {

        p {
          font-size: 27px !important;
        }

        img {
          width: 120px !important;
        }
      }
    }
  }
}