@font-face {
  font-family: 'Edo' ;
  src: url('./fonts/edo.ttf') format('truetype');
}

html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #FFFFFF;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

body * {
  box-sizing: border-box;
}

.bold {
  font-weight: 600;
}

#root {
  background: linear-gradient(184deg, rgba(0,0,58,1) 0%, rgba(3,28,77,1) 50%, rgba(205,111,102,1) 100%);
  /* background-color: linear-gradient(to bottom, #00003a, #031c4d, #cd6f66, #c7a682) */
}